{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title class="blue">Virtual Trainer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div class="container">
      <h1 class="inline">Virtual Trainer</h1>
      <a class="btn btn-default pull-right" href="{% url 'musclegroups' %}" role="button">Design New Workout</a>
      <a class="btn btn-default pull-right" href="{% url 'home' %}" role="button">Home</a>
    </div>
    {% block main %}
    {% endblock %}
    </div>
  </body>
</html>




<!-- <body>
  <div class="container">
    <h1>Virtual Trainer
    </h1>
    <a class="btn btn-default pull-right" href="{% url 'musclegroups' %}" role="button">Design New Workout</a>
    <a class="btn btn-default pull-right" href="{% url 'home' %}" role="button">Home</a>
  </div>
</body> -->
