{% extends 'virtualtrainer/base.html' %}

{% block css %}

{% endblock %}
{% block main %}
  {% load static from staticfiles %}
  <div class="container">
    <h2 class="inline">CHOOSE THE MUSCLE GROUPS YOU WISH TO STRENGTHEN</h2>
  </div>
  <div class="container">
  <img src="{% static "virtualtrainerimages/front.png" %}" alt="Front" height="375" width="200"/>
  <img  src="{% static "virtualtrainerimages/back.png" %}" alt="Back" height="375" width="200" />
  <div style="position:absolute; left:50%; top:25%;">
    <div class="btn-group btn-group-vertical" data-toggle="buttons">
      <div><br>
      <input type="checkbox" name="muscle" value="BACK">BACK<br>
      <input type="checkbox" name="muscle" value="CHEST">CHEST<br>
      <input type="checkbox" name="muscle" value="ABS">ABS<br>
      <input type="checkbox" name="muscle" value="LEGS">LEGS<br>
    </div>
  </div><br>
  <form action="" method="post">{% csrf_token %}
    <button name="submit" value="workout">GET WORKOUT</button>
  </form>
{% endblock %}
