{% extends 'virtualtrainer/base.html' %}

{% block css %}

{% endblock %}
{% block main %}
  {% load static from staticfiles %}
  <div class="container">
    <h2 class="inline">CHOOSE THE MUSCLE GROUPS YOU WISH TO STRENGTHEN</h2>
  </div>
  <div class="container-fluid">
      <img src="{% static "virtualtrainerimages/front.png" %}" alt="Front"/>
      <img  src="{% static "virtualtrainerimages/back.png" %}" alt="Back"/>
  </div>
  <div style="position:absolute; left:50%; top:25%;">
    <div class="btns" data-toggle="buttons">
      <div><br>
      <form action="/workout/" method="post">
        {% csrf_token %}
        <input type="checkbox" name="muscle" value="back">BACK<br>
        <input type="checkbox" name="muscle" value="chest">CHEST<br>
        <input type="checkbox" name="muscle" value="ab">ABS<br>
        <input type="checkbox" name="muscle" value="legs">LEGS<br>
        <button name="submit" value="workout">GET WORKOUT</button>
      </form>
    </div>
  </div><br>
{% endblock %}
