{% extends 'virtualtrainer/base.html' %}
{% block css %}
{% endblock %}
{% block main %}
  <ul>
  {% for exercise in exercises %}
  {% load markdown_filter %}
      <li class="exerciseitem">
        <h3>{{ exercise.name }}</h3>
        <iframe title="YouTube video player"
        type="text/html"
        width="480" height="390" src="{{ exercise.video }}" frameborder="0" allowfullscreen></iframe><br>
        <div class="md-content">
          {{ exercise.description|markdownify|safe }}
        </div>
      </li>
  {% endfor %}
  </ul>
{% endblock %}
